extends _layout

block vars
  - title       = 'Thank You | LGRunners Running Club'
  - description = 'Thanks for signing up for our mailing list!'
  - page        = 'thankyou-mailinglist'

block content
  .jumbotron.background-runners.text-center
    .container
      h1.text-uppercase Thank You
      p Thanks for signing up for our mailing list!  We send meeting updates and other special announcements through this list.
  .container.text-center
    br
    br
    a.btn.btn-custom-dark.btn-lg(href='/') Back to Home